<h2>
  <%= @style.name %>
</h2>

<p>
  <%= @style.description %>
</p>

<p>
	<strong>Beers:</strong>
</p>

<ul>
	<% @style.beers.each do |beer| %>	
		<li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
	<% end %>
</ul>

<p>
    Average rating of beers: <%= round(@style.average_rating) %>
</p>

<%= edit_and_destroy_buttons(@style) %>